extends ../templates/_template.pug
include ../mixins/colors/color.pug


block content
		.sides
			.sides__right
				each val in [100,75,50,25,5]
					+makeColorBlock("color-"+val, "Dark Shade "+val+"%", "#1F2041")
				+makeColorBlock("color-6", "Purple", "#BC9CFF")
				+makeColorBlock("color-7", "Green", "#6FCF97")
			.sides__left
				+makeTitles("H1","title_h1", "This one is the sub-section or widget title", "h1", "1")
				+makeTitles("H2","title_h2", "Next one is the item title inside widgets", "h2")
				+makeTitles("H3","title_h3", "This is a label or CTA text", "h3")
				+makeTitles("Body","title_body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.", "body")