extends ../templates/_template.pug 
include ../components/text_field/field.pug

block content
    .test
        +text_field("DEFULT")
        +text_field(" HOVER / FOCUS", "This is pretty awesome", false) 
        +text_field(" HOVER / FOCUS", "This is pretty awesome", true, true, true) 
        