extends ../templates/_template.pug
include ../components/header__menu/header.pug
include ../components/footer/footer.pug

block content    
    .container
        .menu
            +menu(false)
        .menu   
            +menu(true)
        .menu
            +footer()
            +footer-min()
        .menu
            +footer-sqr()
