.dropdown {
    position: relative;
    z-index: 22222;
    height: 119px;
    width: 266px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    padding-top: 7px;
    padding-left: 15px;
  
    &_elem {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7.56px;
  
      &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      &__text {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
  
  
      }
  
      &__left {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    &_circle {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;
      margin-left: 9px;
      cursor: pointer;
  
    }
  }