
//- autr - авторизован ли пользователь
mixin menu(autr)
    .header-menu
        .header-menu__logo
            img.header-menu__logo(src="../../../assets/images/header__menu/logo.svg", alt="")
            img.header-menu__title(src="../../../assets/images/header__menu/logo_title.svg", alt="")
        .header-menu__nav
            ul.header-menu__list(class = autr ? "header-menu__user_move-right": "")
                li.header-menu__list-item.make-bold
                    a.header-menu_link(href="#").bold О нас
                li.header-menu__list-item.plus_right
                    a.header-menu_link(href="#") Услуги
                li.header-menu__list-item.plus_left
                    a.header-menu_link(href="#") Вакансии
                li.header-menu__list-item
                    a.header-menu_link(href="#") Новости   
                li.header-menu__list-item
                    a.header-menu_link(href="#") Соглашения
            if (autr == false)
                .header-menu__button-group
                    button.header-menu__button-white Войти
                    button.header-menu__button-blue Зарегистрироваться 
            if(autr == true)
                .header-menu__user
                    .header-menu_line.header-menu_line_pos
                    .header-menu_username Юлий Цезарь