mixin makeColorBlock(color,title,subtitle)  
    .color-block
        .color-block__square(class = color)
        .color-block__titles
            .color-block__main-title= title
            .color-block__sub-title= subtitle
    
