include ../../mixins/header.pug

mixin footer()
    .footer-menu
        .footer-menu__fist-left
            +logo()
            span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-menu__second-
            a(href= "#")
                span.make-bold.footer-menu-link Навигация
                span.footer-menu-link О нас
                span.footer-menu-link Новости
                span.footer-menu-link Служба поддержки
                span.footer-menu-link Услуги 
        .footer-menu__middle
            span.make-bold.footer-menu-link О нас
            span.footer-menu-link О Сревисе
            span.footer-menu-link Наша команда
            span.footer-menu-link Вакансии
            span.footer__menu-link Инвесторы
        .footer-menu__fist-right
            span.make-bold.footer-menu-link Служба поддержки
            span.footer-menu-link Соглашения
            span.footer-menu-link Сообщества
            span.footer-menu-link Связь с нами
            