include ../../mixins/header.pug

mixin footer()
    .footer-menu
        .footer-menu__fist-left
            +logo()
            .span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-menu__second-left
        .footer-menu__fist-right
        .footer-menu__second-right