include ../../mixins/header.pug

mixin footer()
    .footer-menu
        .footer-menu__first-left
            +logo()
            span.footer-menu__first-left_text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-menu__second-left
            a(href= "#")
                span.make-bold.footer-menu-link Навигация
                span.footer-menu-link О нас
                span.footer-menu-link Новости
                span.footer-menu-link Служба поддержки
                span.footer-menu-link Услуги 
        .footer-menu__middle
            a(href= "#")            
                span.make-bold.footer-menu-link О нас
                span.footer-menu-link О Сервисе
                span.footer-menu-link Наша команда
                span.footer-menu-link Вакансии
                span.footer-menu-link Инвесторы
        .footer-menu__fist-right
            a(href= "#")
                span.make-bold.footer-menu-link Служба поддержки
                span.footer-menu-link Соглашения
                span.footer-menu-link Сообщества
                span.footer-menu-link Связь с нами
        .footer-menu__second-right
            span.make-bold.footer-menu-link Подписка
            span.footer-menu-link Получайте специальные предложения и новости сервиса
            form(action="#")
                input(type='text', name='title', value='' , placeholder ="Email")    

//- Потом переименовать

mixin footer-min()
    .footer-min
        span.footer-min__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-min__icons
            i.fa.fa-twitter.footer-min__icons_icon.fa-lg
            i.fa.fa-facebook-official.footer-min__icons_icon.fa-lg  
            i.fa.fa-instagram.footer-min__icons_icon.fa-lg  
            