/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  
}
body {
  @include container(1440);
  font-family: $quicksand;
  // background: $darkslategray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.75)
}

.db{
  display: block;
}

h1{  
  @include fontMaker(24px,30px)
}

h2{
  @include fontMaker(19px,24px)
}

h3{
  @include fontMaker(12px,15px)
}
