.container
    .header
        .header__logo
        img.header__title(src="", alt="")
        .nav.header__nav
            ul.header__link-list
                li.Header__list-item О нас
                li.Header__list-item Услуги
                li.Header__list-item Вакансии
                li.Header__list-item Новости   
                li.Header__list-item Соглашения
            .header__button-group
                button.button.header__button-white Войти
                button.button.header__button-blue Зарегестрироваться  
                  